# To be sourced using direnv:
# See https://direnv.net/ for details
export CXX="/usr/bin/clang++-18"
export VIRTUAL_ENV=."venv"
layout python3

# Seems necessary for using MKL - unsure
export LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libmkl_def.so:/usr/lib/x86_64-linux-gnu/libmkl_avx2.so:/usr/lib/x86_64-linux-gnu/libmkl_core.so:/usr/lib/x86_64-linux-gnu/libmkl_intel_lp64.so:/usr/lib/x86_64-linux-gnu/libmkl_intel_thread.so:/usr/lib/x86_64-linux-gnu/libiomp5.so
